<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.lsp.flutter"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dart"
            id="com.vogella.lsp.flutter"
            name="Flutter Language Server"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.lsp.flutter.FlutterLanguageServerStreamProvider"
            id="com.vogella.lsp.flutter.server1"
            label="com.vogella.lsp.flutter.server1">
      </server>
      <contentTypeMapping
            contentType="com.vogella.lsp.flutter"
            id="com.vogella.lsp.flutter.server1">
      </contentTypeMapping>
   </extension>

</plugin>
