<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.dartboard.flutter.launch.FlutterLaunchTabGroup"
            id="org.eclipse.dartboard.flutter.launchTabGroups"
            type="org.eclipse.dartboard.flutter.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.dartboard.flutter.launch.FlutterLaunchConfig"
            id="org.eclipse.dartboard.flutter.launch"
            modes="run"
            name="Flutter App">
      </launchConfigurationType>
   </extension>
   <extension
          point="org.eclipse.ui.newWizards">
        <category
             id="org.eclipse.dartboard.eclipse.wizards"
             name="Dart"></category>
        <wizard
             category="org.eclipse.dartboard.eclipse.wizards"
             class="org.eclipse.dartboard.flutter.project.FlutterProjectWizard"
             icon="icons/flutter.png"
             id="org.eclipse.dartboard.dart.newproject"
             name="Dart Project"
             project="true">
            <description>
              Create a Dart project
          </description>
        </wizard>
        <wizard
             category="org.eclipse.dartboard.eclipse.wizards"
             class="org.eclipse.dartboard.dart.project.DartFileWizard"
             icon="icons/flutter.png"
             id="org.eclipse.dartboard.dart.newfile"
             name="Dart File">
            <description>
             Create a Dart file
          </description>
        </wizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.dartboard.flutter.util.IsFlutterProjectPropertyTester"
            id="org.eclipse.dartboard.flutter.isFlutterProject"
            namespace="org.eclipse.dartboard"
            properties="isFlutterProject"
            type="java.lang.Object">
      </propertyTester>
   </extension>
<extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
              class="org.eclipse.dartboard.flutter.launch.LaunchShortcut"
              icon="icons/flutter.png"
              id="org.eclipse.dartboard.flutter.shortcut"
              label="Run Flutter App"
              modes="run">
     <contextualLaunch>
        <enablement>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate>
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.dartboard.isFlutterProject">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </enablement>
     </contextualLaunch>
     </shortcut>
   </extension>
<extension
      point="org.eclipse.dartboard.pubService">
   <service
         class="org.eclipse.dartboard.flutter.pub.FlutterPubService"
         priority="true">
   </service>
</extension>

</plugin>
