<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.dartboard.flutter.preference.FlutterPreferencePage"
            id="org.eclipse.dartboard.flutter.preferencePage"
            name="Flutter">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.dartboard.flutter.launch.FlutterLaunchTabGroup"
            id="org.eclipse.dartboard.flutter.launchTabGroups"
            type="org.eclipse.dartboard.flutter.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.dartboard.flutter.launch.FlutterLaunchConfig"
            id="org.eclipse.dartboard.flutter.launch"
            modes="run"
            name="Flutter App">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.dartboard.flutter.util.IsFlutterProjectPropertyTester"
            id="org.eclipse.dartboard.flutter.isFlutterProject"
            namespace="org.eclipse.dartboard"
            properties="isFlutterProject"
            type="java.lang.Object">
      </propertyTester>
   </extension>
<extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
              class="org.eclipse.dartboard.flutter.launch.LaunchShortcut"
              icon="icons/flutter.png"
              id="org.eclipse.dartboard.flutter.shortcut"
              label="Run Flutter App"
              modes="run">
     <contextualLaunch>
        <enablement>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate>
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.dartboard.isFlutterProject">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </enablement>
     </contextualLaunch>
     </shortcut>
   </extension>

</plugin>
