<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.eclipsedart"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dart"
            id="com.vogella.eclipsedart"
            name="Flutter Language Server"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.eclipsedart.FlutterLanguageServerStreamProvider"
            id="com.vogella.eclipsedart.server1"
            label="com.vogella.eclipsedart.server1">
      </server>
      <contentTypeMapping
            contentType="com.vogella.eclipsedart"
            id="com.vogella.eclipsedart.server1">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./syntaxes/Dart.tmLanguage"
            scopeName="source.dart">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.vogella.eclipsedart"
            scopeName="source.dart">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="com.vogella.eclipsedart"
            path="language-configurations/dart-language-configuration.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.vogella.eclipsedart.launch.LaunchConfig"
            id="com.vogella.eclipsedart.launch"
            modes="run, debug"
            name="Run Dart Program">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.vogella.eclipsedart.launch.LaunchTabGroup"
            id="com.vogella.eclipsedart.launchTabGroups"
            type="com.vogella.eclipsedart.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.vogella.eclipsedart.preference.DartPreferencePage"
            id="com.vogella.eclipsedart.preferencePage"
            name="Dart">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vogella.eclipsedart.preference.DartPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.vogella.eclipsedart.launch.console.DartConsoleFactory"
            label="Dart Console">
      </consoleFactory>
   </extension>

</plugin>
