<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2019 vogella GmbH and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Jonas Hungershausen - initial API and implementation
 -->
<plugin>
   <extension-point id="org.eclipse.dartboard.pubService" name="PubService" schema="schema/org.eclipse.dartboard.pubService.exsd"/>
   <extension
      point="org.eclipse.ui.editors">
       <editorContentTypeBinding
             contentTypeId="org.eclipse.dartboard"
             editorId="org.eclipse.ui.genericeditor.GenericEditor">
       </editorContentTypeBinding>
    </extension>
    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type base-type="org.eclipse.core.runtime.text" file-extensions="dart" id="org.eclipse.dartboard" name="Dart" priority="normal"></content-type>
    </extension>
    <extension point="org.eclipse.lsp4e.languageServer">
        <server
              class="org.eclipse.dartboard.DartboardLanguageServerStreamProvider"
              clientImpl="org.eclipse.dartboard.client.DartLanguageClientImpl"
              id="org.eclipse.dartboard.server"
              label="Dart Language Server"></server>
        <contentTypeMapping
              contentType="org.eclipse.dartboard"
              id="org.eclipse.dartboard.server">
        </contentTypeMapping>
    </extension>
 <extension
          point="org.eclipse.tm4e.ui.snippets">
       <snippet
             name="org.eclipse.dartboard.sample.dart"
             path="assets/snippets/sample.dart"
             scopeName="source.dart">
       </snippet>
    </extension>
    
   <extension point="org.eclipse.tm4e.registry.grammars">
        <grammar path="assets/dart.json" scopeName="source.dart"></grammar>
        <scopeNameContentTypeBinding contentTypeId="org.eclipse.dartboard" scopeName="source.dart"></scopeNameContentTypeBinding>
    </extension>
    <extension point="org.eclipse.ui.preferencePages">
        <page class="org.eclipse.dartboard.preferences.DartPreferencePage" id="org.eclipse.dartboard.preferencePage" name="Dart and Flutter"></page>
    </extension>
     <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
        <languageConfiguration contentTypeId="org.eclipse.dartboard" path="assets/dart-language-configuration.json"></languageConfiguration>
    </extension>
        <extension
          point="org.eclipse.tm4e.ui.themes">
       <themeAssociation
             scopeName="source.dart"
             themeId="org.eclipse.tm4e.ui.themes.EclipseLight">
       </themeAssociation>
    </extension>
        <extension
              point="org.eclipse.core.runtime.preferences">
           <initializer
                 class="org.eclipse.dartboard.preferences.DartPreferenceInitializer">
           </initializer>
        </extension>
    
</plugin>
