<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2019 vogella GmbH and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Jonas Hungershausen - initial API and implementation
 -->
<plugin>
 <extension
          point="org.eclipse.tm4e.ui.snippets">
       <snippet
             name="org.eclipse.dartboard.sample.dart"
             path="assets/snippets/sample.dart"
             scopeName="source.dart">
       </snippet>
    </extension>
    
   <extension point="org.eclipse.tm4e.registry.grammars">
        <grammar path="assets/dart.json" scopeName="source.dart"></grammar>
        <scopeNameContentTypeBinding contentTypeId="org.eclipse.dartboard" scopeName="source.dart"></scopeNameContentTypeBinding>
    </extension>
     <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
        <languageConfiguration contentTypeId="org.eclipse.dartboard" path="assets/dart-language-configuration.json"></languageConfiguration>
    </extension>
        <extension
          point="org.eclipse.tm4e.ui.themes">
       <themeAssociation
             scopeName="source.dart"
             themeId="org.eclipse.tm4e.ui.themes.EclipseLight">
       </themeAssociation>
    </extension>
    
</plugin>
